<!-- /snippets/ajax-cart-template.liquid -->
{% comment %}

This snippet provides the default handlebars.js templates for
the ajax cart plugin. Use the raw liquid tags to keep the
handlebar.js template tags as available hooks.

{% endcomment %}

<script id="CartTemplate" type="text/template">
  {% raw %}
  <form action="/cart" method="post" novalidate class="cart ajaxcart" id="cart-form">
    <div class="ajaxcart__inner">
      {{#items}}
      <div class="ajaxcart__product">
        <div class="ajaxcart__row" data-line="{{line}}">
          <div class="grid">
            <div class="grid__item one-quarter">
              <a href="{{url}}" class="ajaxcart__product-image"><img src="{{img}}" alt=""></a>
            </div>
            <div class="grid__item three-quarters">
              <p>
                <a href="{{url}}" class="ajaxcart__product-name">{{name}}</a>
                {{#if variation}}
                <span class="ajaxcart__product-meta">{{variation}}</span>
                {{/if}}
                <!-- {{#properties}}
                {{#each this}}
                {{#if this}}
                <span class="ajaxcart__product-meta">{{@key}}: {{this}}</span>
                {{/if}}
                {{/each}}
                {{/properties}} -->
                {{{recurring}}}
                {% endraw %}{% if settings.cart_vendor_enable %}{% raw %}
                <span class="ajaxcart__product-meta">{{ vendor }}</span>
                {% endraw %}{% endif %}{% raw %}
              </p>

              <div class="grid--full display-table">
                <div class="grid__item one-whole">
                  {{#if discountsApplied}}
                  <small class="ajaxcart-item__price-strikethrough"><s>{{{originalLinePrice}}}</s></small>
                  <br><span>{{{linePrice}}}</span>
                  {{else}}
                  <span>{{{linePrice}}}</span>
                  {{/if}}
                </div>
                <div class="ajaxcart__qty">
                  <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}">
                    <span>&minus;</span>
                  </button>
                  <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                  <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}">
                    <span>&plus;</span>
                  </button>
                </div>
              </div>
              {{#if discountsApplied}}
              <div class="grid--full display-table">
                <div class="grid__item text-right">
                  {{#each discounts}}
                  <small class="ajaxcart-item__discount">{{ this.title }}</small><br>
                  {{/each}}
                </div>
              </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
      {{/items}}
    </div>
  </div>
</div>
<div class="ajaxcart__subtotal">
  <p>Sub Total</p>
  <p>{{{totalPrice}}}</p>
</div>
<div class="ajaxcart__footer">
  <div class="zip-check">
    <label for="zipcode">Shipping To</label>
    <input type="text" name="zipcode" placeholder="zip code" id="zip-input" />
    <button type="button" id="check-zip">check</button>
    <div id="warning-container"/>
  </div>
  <div class="terms-check">
    <input type="checkbox" name="terms-checkbox" />
    <label for="terms-checkbox">I am at least 21 and I agree to the terms of service</label>
  </div>
  <button type="submit" class="btn--secondary btn--full cart__checkout" name="checkout">
    <span>checkout</span>
  </button>
</div>

</form>

{% endraw %}
</script>
<script id="AjaxQty" type="text/template">
  {% raw %}
  <div class="ajaxcart__qty">
    <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}">
      <span class="icon icon-minus" aria-hidden="true"></span>
      <span class="fallback-text" aria-hidden="true">&minus;</span>
      <span class="visually-hidden">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
    </button>
    <input type="text" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*">
    <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus icon-fallback-text" data-id="{{key}}" data-qty="{{itemAdd}}">
      <span class="icon icon-plus" aria-hidden="true"></span>
      <span class="fallback-text" aria-hidden="true">+</span>
      <span class="visually-hidden">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
    </button>
  </div>
  {% endraw %}
</script>
<script id="JsQty" type="text/template">
  {% raw %}
  <div class="js-qty">
    <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="{{key}}" data-qty="{{itemMinus}}">
      <span class="icon icon-minus" aria-hidden="true"></span>
      <span class="fallback-text" aria-hidden="true">&minus;</span>
      <span class="visually-hidden">{% endraw %}{{ 'cart.general.reduce_quantity' | t }}{% raw %}</span>
    </button>
    <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
    <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="{{key}}" data-qty="{{itemAdd}}">
      <span class="icon icon-plus" aria-hidden="true"></span>
      <span class="fallback-text" aria-hidden="true">+</span>
      <span class="visually-hidden">{% endraw %}{{ 'cart.general.increase_quantity' | t }}{% raw %}</span>
    </button>
  </div>
  {% endraw %}
</script>
