<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form__buy">
  <div class="visually-hidden">
    <select name="id" id="productSelect" class="product-single__variants">
      {% for variant in product.variants %}
      {% if variant.available %}
      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

      {% else %}
      <option disabled="disabled">
        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
      </option>
      {% endif %}
      {% endfor %}
    </select>
    <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
    <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
  </div>
  <button type="submit" name="add" id="AddToCart" class="btn__buy">
    <span id="AddToCartText">Buy Now</span>
  </button>
</form>
