<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form__buy">
  <div class="visually-hidden">
    <select name="id" id="productSelect" class="product-single__variants no_ro_widget">
      {% for variant in product.variants %}
      {% if variant.available %}
      <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

      {% else %}
      <option disabled="disabled">
        {{ variant.title }} - {{ 'products.product.sold_out' | t }}
      </option>
      {% endif %}
      {% endfor %}
    </select>
    <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
    <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
  </div>

  <button type="submit" name="add" id="AddToCart" class="btn__buy">
    <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
  </button>
  <!--Spice Product Kits Child Product Lists Starts-->
  <div id="spicegems_metafields_data_div" data-default_variant="{{product.selected_or_first_available_variant.id}}" style="display:none;visibility:hidden;">
  {{ product.metafields['spice_product_kits'] | json }}
  </div>
  <!--Spice Product Kits Child Product Lists End-->
</form>


<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form__buy">
    <select name="id">
      <option selected="selected" value="{{ variant.id }}"></option>
      <input type="text" value="1" name="quantity">
  </select>
</form>
