{{ content_for_index }}
<div class="grid">
  <div class="grid__item hero hero--top">

    <div class="hero__cta">
      <h2>a taste of southern hospitality</h2>
      <p>Enjoy a selection of fine wines, curated with love and care by Jamie Deen. Perfect for every day, every occassion, and every dish.</p>
      <a href="/collections" class="btn__cta">explore wines</a>
    </div>
  </div>
</div>
<div class="grid">
  <div class="grid__item large--three-fifths value-prop">
    <div class="value-prop__content">
      <h2>curating the perfect collection</h2>
        <p>
          We’ve worked closely in collaboration with Master Vintner and Restaurateur Doug Margerum to bring you Savannah Cellars, a collection of wines from some of the best vineyards in the country. So, whenever you have the whim, be it a single purchase or as part of your subscription, you’ll be able to enjoy the great bottles, in addition to the great recipes, we serve at our own tables.          
        </p>
        <a href="/collections" class="btn__cta">explore wines</a>
      </div>
  </div>
  <div class="grid__item large--two-fifths value-prop__image" >
    <img src="{{ 'deen.png' | asset_url }}" alt="Jamie Deen" />
  </div>
</div>
<!-- hey -->
<div class="grid featured-wines">
    <div class="grid__item featured-wines__header">
      <h3>featured wines</h3>
      <ul class="featured-wines__nav">
        <li><a href="#mixed">bundles</a></li>
        <li><a href="#whites">whites</a></li>
        <li><a href="#reds">reds</a></li>
      </ul>
    </div>

    <div class="grid__item">
      {% assign grid_item_width = "large--one-third medium--one-whole" %}
      <div class="grid">
        {% assign all_collections = "mixed|whites|reds" | split: "|" %}
        {% for handle in all_collections %}
          <!-- pull wines in this category and run a loop -->
          <div id="{{ handle }}" class="featured-wines__tab">
            {% for product in collections[handle].products %}
              {% include 'product-grid-item' %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
</div>
<div class="grid">
  <div class="grid__item support support--middle">
    <div class="support__cta">
      <img src="{{ 'fleur.svg' | asset_url }}" alt="fleur" class="icon icon--fleur" />
      <h4>wine &amp; dine</h4>
      <div class="support__title">
        <img src="{{ 'leaves-left.svg' | asset_url }}" role="presentation" class="icon icon--leaves" />
        <h2>welcome to our table</h2>
        <img src="{{ 'leaves-right.svg' | asset_url }}" role="presentation" class="icon icon--leaves" />
      </div>
      <img src="{{ 'separator-1.svg' | asset_url }}" role="presentation" class="icon--separator-lg" />
      <p>
        One of our biggest passions is pairing the perfect wine with the perfect recipe. We brothers find the combination really opens up the the flavors and notes of both. Come see what we mean with the recipes we created to go beautifully with your Savannah Cellars selections.
      </p>
      <a href="/collections" class="btn__cta">get cookin&apos;</a>
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid__item text-section">
    <img class="icon icon--leaf" src="{{ 'leaf.svg' | asset_url }}" role="presentation" />
    <h5>made with TLC</h5>
    <img class="icon icon--separator-sm" role="presentation" src="{{ 'separator-brown.svg' | asset_url }}" />
    <h2>the Deen Brothers selection process</h2>
    <p>
      Never afraid to explore or try something new, we carefully scour the country to select premium wines from only the best vineyards. Try them all and be sure to tell us about your favorites!
    </p>
  </div>
</div>

<div class="grid column-container">
  <div class="grid__item large--one-third small--one-whole value-item">
    <img class="icon icon--map" src="{{ 'map.svg' | asset_url }}" role="presentation" />
    <div class="value-item__title">
      <span class="brace">{</span>
      <h6>for you</h6>
      <span class="brace">}</span>
    </div>
    <p>
      Choose a flavorful mixed pack of either red, white or rose wines. <br><br>OR<br><br>Choose our simply delicious white or red varietal-only option.
    </p>
  </div>
  <div class="grid__item large--one-third small--one-whole value-item">
    <img class="icon icon--somm" src="{{ 'somm_final.png' | asset_url }}" role="presentation" />
    <div class="value-item__title">
      <span class="brace">{</span>
      <h6>for a friend</h6>
      <span class="brace">}</span>
    </div>
    <p>
     Care to share your great taste? We’re happy to ship your wine gift to loved ones directly.<br><br>Just ‘add a gift’ to your order at checkout so you all can enjoy it together.

    </p>
    <p>
      Add a gift to your order during checkout and make someone very happy.
    </p>
  </div>
  <div class="grid__item large--one-third small--one-whole value-item">
    <img class="icon icon--basket" src="{{ 'basket.svg' | asset_url }}" role="presentation" />
    <div class="value-item__title">
      <span class="brace">{</span>
      <h6>keep it comin&apos;</h6>
      <span class="brace">}</span>
    </div>
    <p>
      Save up to 20% on shipments when you register for a 3-month subscription.<br><br>Subscribe today and always be stocked with tasty wine and recipes that help make every meal something to remember.
    </p>
  </div>
  <div class="value-item__cta">
    <a href="/collections" class="btn__cta">Get Cookin&apos;</a>
  </div>
</div>

<div class="grid full-bleed">
  <div class="full-bleed__img">
    <img alt="Jamie Deen" src="{{ 'meet-deen.gif' | asset_url }}"/>
  </div>
</div>

<div class="grid">
  <div class="grid__item text-section">
    <img class="icon icon--leaf" role="presentation" src="{{ 'leaf.svg' | asset_url }}" />
    <h5>meet the Deen brothers</h5>
    <img class="icon icon--separator-sm" role="presentation" src="{{ 'separator-brown.svg' | asset_url }}" />
    <h2>from our family to yours</h2>
    <p>
      I&apos;ve been fortunate enough to learn about wine from the experts including my friend and winemaker, Doug Margerum. By visiting vineyards, tasting grapes, and helping blend wines, I&apos;ve learned so much about wine, and can&apos;t wait to share what I&apos;ve learned with you. Y&apos;all are going to love what we&apos;ve picked out for you. Shop our hand&ndash;selected wines below.
    </p>
    <a href="/collections" class="btn__cta">get started</a>
  </div>
</div>
