{{ content_for_index }}
<div class="grid">
  <div class="grid__item hero hero--top">

    <div class="hero__cta">
      <h2>a taste of southern hospitality</h2>
      <p>Enjoy a selection of fine wines, curated with love and care by Jamie Deen. Perfect for every day, every occassion, and every dish.</p>
      <a href="/collections" class="btn__cta">explore wines</a>
    </div>
  </div>
</div>
<div class="grid">
  <div class="grid__item value-prop">
    <div class="value-prop__content">
      <h2>hand&ndash;selected, Deen approved wines</h2>
        <p>
          Growing up with a momma like Paula, I have learned a thing or two about the importance of southern hospitality. I was taught to cook from the heart, laugh from the belly, and welcome guests like they were part of my own family. With Deen Brothers&apos; Wine you'll be able to purchase wine at your leisure, or enjoy a monthly subscription that not only delivers wonderful wines from some of the best vinyards in the United States, You'll also receive complementary, mouth watering recipes so you can welcome your own guests in true Savannah style.
        </p>
        <a href="/collections" class="btn__cta">explore wines</a>
      </div>
      <img class="" src="{{ 'deen.png' | asset_url }}" alt="Jamie Deen" />
  </div>
</div>
<div class="grid featured-wines">
    <div class="grid__item featured-wines__header">
      <h3>featured wines</h3>
      <ul class="featured-wines__nav">
        <li><a href="#mixed">bundles</a></li>
        <li><a href="#whites">whites</a></li>
        <li><a href="#reds">reds</a></li>
      </ul>
    </div>

    <div class="grid__item">
      {% assign grid_item_width = "large--one-quarter medium--one-half small--one-whole" %}
      <div class="grid">
        {% assign all_collections = "mixed|whites|reds" | split: "|" %}
        {% for handle in all_collections %}
          <!-- pull wines in this category and run a loop -->
          <div id="{{ handle }}" class="featured-wines__tab">
            {% for product in collections[handle].products %}
              {% include 'product-grid-item' %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
</div>
<div class="grid">
  <div class="grid__item hero hero--middle">
    <div class="hero__cta">
      <img src="{{ 'fleur.svg' | asset_url }}" alt="fleur" class="icon icon--fleur" />
      <h4>wine &amp; dine</h4>
      <div class="hero__title">
        <img src="{{ 'leaves-left.svg' | asset_url }}" role="presentation" class="icon icon--leaves" />
        <h2>welcome to our table</h2>
        <img src="{{ 'leaves-right.svg' | asset_url }}" role="presentation" class="icon icon--leaves" />
      </div>
      <img src="{{ 'separator-1.svg' | asset_url }}" role="presentation" class="icon--separator-lg" />
      <p>
        Jamie Deen, and wine expert, Doug Margerum, have carefully selected wines that pair well with food. Using the Deen brothers&apos; succulent recipes, you&apos;re invited to try these perfect pairings. We&apos;ve curated comfort wines to go with comfort food, guaranteed to put a smile on your face.
      </p>
      <a href="/collections" class="btn__cta">get cookin&apos;</a>
    </div>
  </div>
</div>

<div class="grid">
  <div class="grid__item text-section">
    <img class="icon icon--leaf" src="{{ 'leaf.svg' | asset_url }}" role="presentation" />
    <h5>made with TLC</h5>
    <img class="icon icon--separator-sm" role="presentation" src="{{ 'separator-brown.svg' | asset_url }}" />
    <h2>the deen selection process</h2>
    <p>
      We carefully select premium wines from only the best vineyards. Never afraid to try something new, we are always on the lookout for our next great find. Y&apos;all decide which wines are your favorite, but be sure to try them all!
    </p>
  </div>
</div>

<div class="grid column-container">
  <div class="grid__item large--one-third small--one-whole value-item">
    <img class="icon icon--map" src="{{ 'map.svg' | asset_url }}" role="presentation" />
    <div class="value-item__title">
      <span class="brace">{</span>
      <h6>for you</h6>
      <span class="brace">}</span>
    </div>
    <p>
      Choose from our mixed packs of red, white, or ros&eacute; wines or pick your favorite wine as a cellar pack to enjoy now, enjoy later, and to save in your wine cellar.
    </p>
    <p>
      Make every day special with wine carefully picked just for you.
    </p>
  </div>
  <div class="grid__item large--one-third small--one-whole value-item">
    <img class="icon icon--somm" src="{{ 'somm.png' | asset_url }}" role="presentation" />
    <div class="value-item__title">
      <span class="brace">{</span>
      <h6>for a friend</h6>
      <span class="brace">}</span>
    </div>
    <p>
      Show someone you care and send any of our wines directly to your loved ones. Deen Brothers Wines make a great gift for any occasion or "just because".
    </p>
    <p>
      Add a gift to your order during checkout and make someone very happy.
    </p>
  </div>
  <div class="grid__item large--one-third small--one-whole value-item">
    <img class="icon icon--basket" src="{{ 'basket.svg' | asset_url }}" role="presentation" />
    <div class="value-item__title">
      <span class="brace">{</span>
      <h6>keep it comin&apos;</h6>
      <span class="brace">}</span>
    </div>
    <p>
      Save 50% on your first shipment when you subscribe for 3 months.
    </p>
    <p>
      This limited time offer keeps the wine coming every month so your cellar is stocked. Experiment with new recipes that pair with our wines to find your favorite combination.
    </p>
  </div>
  <div class="value-item__cta">
    <a href="/collections" class="btn__cta">Get Cookin&apos;</a>
  </div>
</div>

<div class="grid full-bleed">
  <div class="grid__item full-bleed__img">
    <img alt="Jamie Deen" src="{{ 'meet-deen.gif' | asset_url }}"/>
  </div>
</div>

<div class="grid">
  <div class="grid__item text-section">
    <img class="icon icon--leaf" role="presentation" src="{{ 'leaf.svg' | asset_url }}" />
    <h5>meet the Deen brothers</h5>
    <img class="icon icon--separator-sm" role="presentation" src="{{ 'separator-brown.svg' | asset_url }}" />
    <h2>from our family to yours</h2>
    <p>
      I&apos;ve been fortunate enough to learn about wine from the experts including my friend and winemaker, Doug Margerum. By visiting vineyards, tasting grapes, and helping blend wines, I&apos;ve learned so much about wine, and can&apos;t wait to share what I&apos;ve learned with you. Y&apos;all are going to love what we&apos;ve picked out for you. Shop our hand&ndash;selected wines below.
    </p>
    <a href="/collections" class="btn__cta">get started</a>
  </div>
</div>

<div class="grid">
  <div class="grid__item hero hero--bottom">
    <div class="hero__cta">
      <img src="{{ 'fleur.svg' | asset_url }}" alt="fleur" class="icon icon--fleur" />
      <h4>from our customers</h4>
      <div class="hero__title">
        <img src="{{ 'leaves-left.svg' | asset_url }}" role="presentation" class="icon icon--leaves" />
        <h2>don&apos;t take our word for it</h2>
        <img src="{{ 'leaves-right.svg' | asset_url }}" role="presentation" class="icon icon--leaves" />
      </div>
      <img src="{{ 'separator-1.svg' | asset_url }}" role="presentation" class="icon icon--separator-lg" />
      <p>
        need quote here
      </p>
      <a href="/collections" class="btn__cta">get started</a>
    </div>
  </div>
</div>
