<!-- /templates/list-collections.liquid -->

<div class="grid">
  <div class="grid__item hero">
    <div class="hero__cta">
      <h1>shop all wines</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>

{% comment %}
  Loop through each collection, except 'frontpage'
{% endcomment %}

<div class="shop-all">
{% for collection in collections %}

  {% unless collection.handle == 'frontpage' %}

    {% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

    <div class="section-header">
      <p class="h1 section-header__left">{{ collection_title }}</p>
      <div class="section-header__right">
        <a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">More {{ collection_title }} &rsaquo;</a>
      </div>
    </div>

    <div class="grid-uniform">
      {% for product in collection.products limit:5 %}
        {% assign grid_item_width = 'large--one-fifth medium--one-half' %}
        {% include 'product-grid-item' %}
      {% endfor %}
    </div>

    {% unless forloop.last %}<hr>{% endunless %}

  {% endunless %}

{% endfor %}
</div>
