<!-- /templates/page.liquid -->


<div class="grid">
  <div class="grid__item hero">
    <div class="hero__cta">
      <h1 class="hiw__hero__cta">{{ page.title }}</h1>
      <p>We’ve taken all the work out of finding great tasting, affordable wines so you can sit back and enjoy them with family and friends. See how we do it below.</p>
    </div>
  </div>
</div>

<div class="how-it-works">
  <!-- search -->
  <div class="flex-container search">
    <div class="flex-item-half image">
      {{ 'Point_wesearch1.png' | asset_url | img_tag }}
    </div>
    <div class="flex-item-half text">
      <h2>We Search</h2>
      <p>We traveled the country’s great wine regions to source grapes from the very best vineyards.</p>
      <p class="text__cta"><a href="/collections">shop now</a></p>
    </div>
  </div>

  <!-- curate -->
  <div class="flex-container curate">
    <div class="flex-item-half text">
      <h2>We Curate</h2>
      <p>We brothers collaborated with Master Vintner and restaurateur Doug Margerum to blend delicious wines designed to share and pair with your favorite recipes.</p>
      <p class="text__cta"><a href="/collections">shop now</a></p>
    </div>
    <div class="flex-item-half image">
      {{ 'Bottles_wecurate1.png' | asset_url | img_tag }}
    </div>
  </div>

  <!-- receive -->
  <div class="flex-container receive">
    <div class="flex-item-half image">
      {{ 'Bottles_youreceive1.png' | asset_url | img_tag }}
    </div>
    <div class="flex-item-half text">
      <h2>You Receive</h2>
      <p>A box of hand-selected, Savannah Cellars wine arrives at your doorstep along with information about your selection and tasting notes to help you pair with great meals.</p>
      <p class="text__cta"><a href="/collections">shop now</a></p>
    </div>
  </div>

  <!-- enjoy -->
  <div class="flex-container enjoy">
    <div class="flex-item-half text">
      <h2>You Enjoy</h2>
      <p>We make sure your order and shipment is fast and easy so you can get to enjoying and sharing it sooner. We hope you love your selections as much as we do.</p>
      <p class="text__cta"><a href="/collections">shop now</a></p>
    </div>
    <div class="flex-item-half image">
      {{ 'Fam_youenjoy1.png' | asset_url | img_tag }}
    </div>
  </div>

  <!-- map -->
  <div class="where-we-ship">
    <img class="leaf" src="{{ 'leaf.svg' | asset_url }}" />
    <p>find your state</p>
    <div class="hr"></div>
    <h2>Where we ship</h2>
    <img class="map" src="{{ 'how-it-works-map.svg' | asset_url }}" />
    <p class="text">Wine shipping laws vary per state.  Currently we can ship wine to the following states: Arizona, California, Colorado, Connecticut, Washington, DC, Florida, Georgia, Idaho, Illinois, Indiana, Iowa, Kansas, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, Missouri, Montana, Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina, North Dakota, Ohio, Oregon, Pennsylvania, South Carolina, South Dakota, Tennessee, Texas, Vermont, Virginia, Washington, West Virginia, Wisconsin, Wyoming.</p>
    <a href="/collections" class="btn__cta">Get Cookin&apos;</a>
  </div>
</div>
