<!-- /templates/page.liquid -->


<div class="grid">
  <div class="grid__item hero">
    <div class="hero__cta">
      <h1 class="hiw__hero__cta">{{ page.title }}</h1>
      <p>Enjoy wine curated by the Deen Brothers and wine expert Doug Margerum delivered directly to your door for an unbeatable price. Find out how we select our wines below.</p>
    </div>
  </div>
</div>

<div class="how-it-works">
  <!-- search -->
  <div class="flex-container search">
    <div class="flex-item-half image">
      {{ 'Point_wesearch1.png' | asset_url | img_tag }}
    </div>
    <div class="flex-item-half text">
      <h2>We Search</h2>
      <p>We searched the country's great wine regions in order to source winegrapes from the very best vineyards.</p>
    </div>
  </div>

  <!-- curate -->
  <div class="flex-container curate">
    <div class="flex-item-half text">
      <h2>We Curate</h2>
      <p>We worked diligantly with restaurateur and wine expert, Doug Margerum, to blend delicious wines to pair with any meal during any occasion.</p>
    </div>
    <div class="flex-item-half image">
      {{ 'Bottles_wecurate1.png' | asset_url | img_tag }}
    </div>
  </div>

  <!-- receive -->
  <div class="flex-container receive">
    <div class="flex-item-half image">
      {{ 'Bottles_youreceive1.png' | asset_url | img_tag }}
    </div>
    <div class="flex-item-half text">
      <h2>You Receive</h2>
      <p>A box of specially curated Savannah Cellars wines arrive at your doorstep, accompanied by tasting notes with food pairing suggestions and more information about the wines.</p>
    </div>
  </div>

  <!-- enjoy -->
  <div class="flex-container enjoy">
    <div class="flex-item-half text">
      <h2>You Enjoy</h2>
      <p>Wine is meant to be enjoyed and shared.  Open your box right away and share with friends and family for the perfect accompaniment to any meal.   Our shipments makes it easy for you to learn about wines and develop your palate, which will help you become the ultimate host.  Cheers!</p>
    </div>
    <div class="flex-item-half image">
      {{ 'Fam_youenjoy1.png' | asset_url | img_tag }}
    </div>
  </div>

  <!-- map -->
  <div class="where-we-ship">
    <img class="leaf" src="{{ 'leaf.svg' | asset_url }}" />
    <p>find your state</p>
    <div class="hr"></div>
    <h2>Where we ship</h2>
    <img class="map" src="{{ 'how-it-works-map.svg' | asset_url }}" />
    <p class="text">Wine shipping laws vary per state.  Currently we can ship wine to the following states: Arizona, California, Colorado, Connecticut, Washington, DC, Florida, Georgia, Idaho, Illinois, Indiana, Iowa, Kansas, Louisiana, Maine, Maryland, Massachusetts, Michigan, Minnesota, Missouri, Montana, Nebraska, Nevada, New Hampshire, New Jersey, New Mexico, New York, North Carolina, North Dakota, Ohio, Oregon, Pennsylvania, South Carolina, South Dakota, Tennessee, Texas, Vermont, Virginia, Washington, West Virginia, Wisconsin, Wyoming.</p>
    <a href="/collections" class="btn__cta">Get Cookin&apos;</a>
  </div>
</div>
